*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #373737;
    font-family: 'Megrim', cursive;;
}
h1{
    margin: 0;
    font-size: 2rem;
}
/* Header */

.header{
    color: aliceblue;
    padding: 1rem;
}

/* fin del Header */

/* MIAN */

.main{
    color: aliceblue;
    padding: 1rem;
}

.pizzasPlace,.carPlace{
    display: flex;
    flex-wrap: wrap;
}

.item{
    margin: 1rem;
    padding: 1rem;
    min-width:200px;
    max-width: 300px;

    background-color: rgb(255, 255, 254);
    box-shadow: 1px 13px 15px 5px rgba(0, 0, 0, 0.782);
    color: #373737;

    min-height: 15rem;

    text-align: center;
    font-size: 1.2rem;

    border-radius: 10px;
}



.item img{
    height: 80px;
}

.itemTotal{
    max-height:120px ;
    font-size: 1.5rem;
}

.btn{
    width: 100px;
    height: 50px;
    border: none;
    background-color: #FFC300;
    border-radius: 5px;
    font-style: italic;
}

.btn:hover{
    
    width: 110px;
    height: 60px;
}

.btnRed{
    background-color: #FF4646;
}
.btnGreen{
    background-color: #48D700;
}
/* MAIN END */
/* Footer */

.footer{
    color: aliceblue;
    min-height:10rem;
    width: 100vw;
    text-align: center;
    justify-content: center;
}

/* FOOTER END */

a{
    color: #00B3A0;
}